@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');
*{
    font-family: 'Cairo',sans-serif;
}

.images{
    width: 30vw;
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.images:hover{
    transform: scale(1.1);
}
.catalog h1{
    font-size: 3vw;
    text-align: center;
    margin: 5vw;
}