@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');
#myVideo{
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    z-index: -5;
  }
 .jumbotron h1{
  font-family: 'Cairo',sans-serif;
  height: 70vh;
  margin-top: 4vw;
  margin-left: 7vw;
  width: 33%;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0.4rem;
  color: rgba(255, 255, 255, 0.55);
 }
 #categories{
  color: red;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .motocross{
  font-family: 'Cairo',sans-serif;
  text-align: center;
  width: 30vw;
  height: 25vw;
 }
 .motocross img,
 .cruiser img,
 .sports img{
  transition: 200ms ease-in-out;
 }
 .motocross:hover img,
 .cruiser:hover img,
 .sports:hover img{
  transform: scale(1.1);
 }
 .motocross img{
  width: 100%;
  margin-top: 1vw;
 }
 .sports{
  font-family: 'Cairo',sans-serif;
  text-align: center;
  width: 30vw;
  height: 25vw;
 }
 .sports img{
  margin-top: -1vw;
  width: 105%;
 }
 .cruiser{
  font-family: 'Cairo',sans-serif;
  text-align: center;
  width: 30vw;
  height: 25vw;
 }
 .cruiser img{
  margin-top: 2.5vw;
  width:90% ;
 }
 .main-header h1{
  font-family: 'Cairo',sans-serif;
  text-align: center;
  font-size: 4vw;
  font-weight: 800;
  margin: 5vw;
 }
 main{
  height: 80vh;
 }