.logo {
  height: 3em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 7s linear;
  }
}
.ducatiLogo{
  height: 5.5rem;
}
.navbar{
  background-color: #0f0f0f6e;
}
.navlinks{
  margin-left: 1vw;
  color: #B0B7BC;
  text-decoration: none;
}
.navlinks:hover{
  color: red;
}
#basic-nav-dropdown{
  margin-top: -0.5vw;
  margin-left: 1vw;
}
#basic-nav-dropdown:hover{
  color: red;
}
.account-link{
  text-decoration: none;
  color: #0f0f0f;
  margin-left: 2vw;
}
.account-link:hover{
  color: red;
}
.cart-icon{
  margin-left: 1vw;
}
.product-count{
  text-decoration: none;
}
.product-count small{
  position: absolute;
  font-size: 1.2vw;
  font-weight: 800;
}
.footer-container{
  margin-top: 60vw;
  height: 30vh;
  width: 100%;
  background-color: #595d63;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.smlogo{
  width: 50px;
}
.footer ul{
  list-style: none;
  margin-top: 3vw;
}
.footer li{
  font-size: 1vw;
  color: white;
}
.footer-headers{
  font-size: 1.2vw;
  color: #B0B7BC;
}
.footer-copyright{
  margin-top: 0.5vw;
  color: whitesmoke;
  text-align: center;
}
.carousel{
  margin-top: -0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595d63;
}
#carousel{
  margin: 5vw;
  width: 50vw;
}
