.create-account{
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url('../../assets/bike1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100%;
    background-color: black;
}
.create-account{
    display: flex;
    justify-content: center;
}
.register_form{
    background-color: rgba(255, 255, 255, 0.653);
    width: 30%;
    padding: 3vw;
    height: 70%;
    margin-top: 7vw;
    border:1px solid;
    border-radius: 5px;
}
.register_form h1{
    text-align: center;
}
.register_form_footer{
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}